.navbar {
  padding-left: 10%;
  padding-right: 10%;

   background-color: #1e2230;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
 
  min-height: 60px;
 
  font-size: large;
  color: antiquewhite;
  text-decoration: none;
}
.navbar-items {
  
 
  text-decoration: none;
  color: antiquewhite;
}
 